@use '../mixin/mixin'as *;
@use '../setting/setting'as *;

//------------------------------------
// footer
//------------------------------------
.footer {
  color: $color-text-reverse;
}

.footer-content {
  background-color: $color-main;
  padding: rem(80) 0 rem(120);

  @include media(s) {
    padding: rem(40) 0 rem(15);
  }
}

.footer-logo {
  display: block;
  text-align: center;

  img {
    width: 110px;
    height: 90px;
  }
}

.shop-info {
  text-align: center;
  margin-top: rem(24);

  &__item {

    &:not(:first-child) {
      margin-top: rem(14);

      @include media(s) {
        margin-top: rem(14);
      }
    }
  }
}

.footer-nav {
  margin-top: rem(59);

  @include media(s) {
    max-width: 335px;
    margin-top: rem(31);
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    display: flex;
    justify-content: center;

    @include media(s) {
      flex-direction: column;
    }
  }

  &__item {

    &:not(:first-child) {
      border-left: 1px solid $color-text-reverse;

      @include media(s) {
        border-left: none;
        border-top: 1px solid $color-text-reverse;
      }
    }
  }

  &__link {
    display: block;
    padding: 0 rem(29);

    @include media(s) {
      text-align: center;
      padding: rem(24) 0;
    }
  }
}

.siteInfo {
  background-color: $color-text;
  border-top: 1px solid $color-text-reverse;
  padding: 15px 0;

  @include media(s) {
    padding: 31px 0 15px;
  }

  >.inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(s) {
      flex-direction: column;
    }
  }
}

.siteInfo-list {
  display: flex;
  align-items: center;

  &__item {

    &:not(:first-child) {
      border-left: 1px solid $color-text-reverse;
      margin-left: rem(33);
      padding-left: rem(33);

      @include media(s) {
        font-size: rem(14);
        margin-left: rem(31);
        padding-left: rem(40);
      }
    }
  }
}

.copyright {
  font-size: rem(12);

  @include media(s) {
    margin-top: rem(40);
  }
}